.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* myCarousel2.css */

body {
  background-color: blueviolet;
}

.Card-Deck, .Category {
  background-color: black;
  width: 100%;
  height: 200px;
  text-align: center;
  overflow: hidden;
}

/* ------------------------------------------------------- card --------------------------------------------------------------- */

.Card, .Deck {
  background-color: white;
  width: 250px;
  height: 100%;
  text-align: center;
  font-size: 40pt;
  line-height: 200px;
  position: relative;
  margin: 0 auto;
  display: inline-block;
  left: 0;
  border-radius: 5%;
  transition: left 0.5s, opacity 0.5s, transform 0.5s;
  /* transition: all 0.5s; */
  transform: rotateX(0deg);
  /* transition: all 0.5s; */
}

.Deck {
  border: #09d3ac;
  height: 100%;
  margin-left: 5px;
  border: 10px solid transparent;
}

.Deck:hover {
  border-color: #28a745;
}

.Card-hidden {
  display: none;
}

.Card-left {
  left: -50%;
  opacity: 0;
}

.Card-right {
  left: +50%;
  opacity: 0;
}

.Card-flip {
  transform: rotateX(90deg);
}

/* .Card-left-out, .Card-right-in, .Card-right-out, .Card-left-in, .Card-flip, .Card-flip-out, .Card-flip-in {
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transition: left 0.5s, opacity 0.5s, tranform 0.5s;
  transition: opacity 2s;
} */

/* .Card-left-out {
  animation-name: left-out;
}

.Card-right-in {
  animation-name: right-in;
}

.Card-right-out {
  animation-name: right-out;
}

.Card-left-in {
  animation-name: left-in;
}

.Card-flip {
  animation-name: flip-card;
}

.Card-flip-out {
  animation-name: flip-out;
}

.Card-flip-in {
  animation-name: flip-in;
} */

/* @keyframes left-out {
  from {
      left: 0;
      opacity: 1;
  }
  to {
      left: -50%;
      opacity: 0;
  }
}

@keyframes right-in {
  from {
      left: 50%;
      opacity: 0;
  }
  to {
      left: 0;
      opacity: 1;
  }
}

@keyframes right-out {
  from {
      left: 0;
      opacity: 1;
  }
  to {
      left: 50%;
      opacity: 0;
  }
}

@keyframes left-in {
  from {
      left: -50%;
      opacity: 0;
  }
  to {
      left: 0;
      opacity: 1;
  }
}

@keyframes flip-card {
  0% {
      transform: rotateX(0deg);
  }
  50% {
      
      transform: rotateX(90deg);
  }
  100% {
      transform: rotateX(0deg);
  }
} */

/* .Card-left-out {
  left: -50%;
  opacity: 0;
}

.Card-right-in {
  left: 0;
  opacity: 1;
}

.Card-right-out {
  left: 50%;
  opacity: 0;
}

.Card-left-in {
  left: 0;
  opacity: 1;
}

.Card-flip {
  transform: rotateX(180deg);
} */

/* -------------------------------------------- button ---------------------------------------------------- */

.btnGroup {
  text-align: center;
  background-color: purple;
  height: 50px;
}

.btn {
  height: 100%;
  margin: 1px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid transparent;
}

.btn-flip {
  color: #28a745;
  border-color: #28a745;
}

.btn-flip:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745
}

.btn-flip.focus, .btn-flip:focus {
  box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
}

.btn-flip.disabled, .btn-flip:disabled {
  color: #28a745;
  background-color: rgb(173, 173, 173);
}

.btn-flip:not(:disabled):not(.disabled).active, .btn-flip:not(:disabled):not(.disabled):active, .show>.btn-flip.dropdown-toggle {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745
}

.btn-flip:not(:disabled):not(.disabled).active:focus, .btn-flip:not(:disabled):not(.disabled):active:focus, .show>.btn-flip.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
}

.btn-change {
  color: #1673c0;
  border-color: #1673c0;
}

.btn-change:hover {
  color: #fff;
  background-color: #1673c0;
  border-color: #1673c0
}

.btn-change.focus, .btn-change:focus {
  box-shadow: 0 0 0 .2rem 1673c0
}

.btn-change.disabled, .btn-change:disabled {
  color: #1673c0;
  background-color: 1673c0;
}

.btn-change:not(:disabled):not(.disabled).active, .btn-change:not(:disabled):not(.disabled):active, .show>.btn-change.dropdown-toggle {
  color: #fff;
  background-color: #1673c0;
  border-color: #1673c0
}

.btn-change:not(:disabled):not(.disabled).active:focus, .btn-change:not(:disabled):not(.disabled):active:focus, .show>.btn-change.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem 1673c0
}